@keyframes moveToRight {
    0% {
        margin-left: -25rem;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1rem;
    }
}

@keyframes moveArrow {
    0% {
        left: 0;
    }
    100% {
        left: 2.5rem;
        transform: scale(1.5);
    }
}